@use "colors" as *;

p{
    font-family: $title-font;
    font-size: 20px; 
    
}

header{

    .navbar{
        width: 100%;
        padding: 40px 40px;

        .navbar-brand{
            font-weight: bold;
            font-size: 25px;
        }
    }

    form{

        & > button {
            margin-left: 15px;
        }

        & > a {
            color: #67b54b;
            text-decoration: none;

        }
        
        
    }

    @media (max-width:500px){
        display: flex;
        flex-direction: column;
        

    }
}

.welcome-section {
    
    text-align: center;
    padding: 50px 0;
    background-image: url(images/welcomeSection.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;

    h1{
        font-size: 50px;
        padding-top: 50px;
        color: $white;
        
    }

    p{

        font-size: 25px;
        color: $grey;
        margin-top: 30px;
        color: $bone;
        
    }

}


.landing-benefits{
    background: linear-gradient(45deg, $general-green, #D87359);
    opacity: .9;
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;

    h1{

        color: $white;
        padding-bottom: 50px;
    }

    .card{
        padding: 0 15px;
        border-radius: 30px;
        
        h1{
            font-size: 25px;
            color: $general-green;
            padding-bottom: 0px;
        }

        p{
            color: $grey;
        }

        .image-container{

            height: 250px;

            img{
                padding: 20px;
                border-radius: 30px;
                height: 100%;
                
            }
        }
    }

 

}

.landing-contact{

    background-color: $bone;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    

    .contact-form{
        
        padding-right: 30px;
        width: 100%;

        h1{

            color: #111111;

        }
    }

    .partners{    
        display: grid;
        text-align: center;
        grid-template-rows: .05fr 1fr;
        h1{
            margin-bottom: 50px;
            color: #111111;

        }
        
        .partners-container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 5px;

            img{
                width: 80%;
                
            }
        }
     
        
    }



}

@media (max-width:910px){

    .welcome-section{
        padding: 80px 10px;

        h1{
            font-size: 30px;
            padding-top: 20px;;
        }

        p{
            font-size: 18px;
        }

        form{
            width: 80%;
            padding-left: 30px;
        }   
    }

    

    .landing-contact{

        margin-top: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;

        .partners{
            margin-top: 20px;
        }
    }

    .landing-benefits{
            padding: 20px 30px;
            display: grid;
            grid-template-columns: repeat(1fr);
    
            .card{
                height: 30px;
    
                h1{
                    font-size: 20px;
                }
    
                p{
                    font-size: 15px;
                }

                .image-container{
                    display: none;
                }
            } 
    }

}